{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block page_styles %}
  <link rel="stylesheet" href="{% static 'quotes/qoutes_styles.css' %}">
{% endblock page_styles%}
{% block content %}
  <h1>Home</h1>
  {% include './includes/partial.html' with nombre='Home' %}
  <ul>
  {% for day in days %}
    {% if day.type == 'int' %}
      <li><a href="{% url 'day-number' day.value %}">{{ day.value }}</a></li>
    {% elif day.type == 'str' %}
      <li><a href="{% url 'day-string' day.value %}">{{ day.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}
